/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic);


/* Text */

h1, h2, h3, h4, h5, h6, p, a, span, label, .button, #month-container tr td {
	font-family: 'Muli', sans-serif;
	font-weight: 400;
}

h1.big, h2.big, h3.big, h4.big, h5.big, h6.big {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
}

h1.thin, h2.thin, h3.thin, h4.thin, h5.thin, .thin {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-style: italic;
}
h1.big {
	font-size: 4rem;
}

h1 {
	font-size: 3.5rem;	
}

h1.thin {
	font-size: 3.3rem;
}

h2.big {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h2.thin {
	font-size: 2.3rem;
}

h3.big {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

h3.thin {
	font-size: 1.5rem;
}

h4.big {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.3rem;
}

h4.thin {
	font-size: 1.25rem;
}

h5.big {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.15rem;
}

h5.thin {
	font-size: 1.1rem;
}

h6.big {
	font-size: 1.08rem;
}

h6 {
	font-size: 1.05rem;
}

h6.thin {
	font-size: 1.03rem;
}

a {
	color:#F1BB1B;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
	font-family: 'Muli', sans-serif;
}

a:hover {
	text-decoration:underline;
}

/* Buttons */

.button {
	background: #f1bb1b;
	color: black;
	border-radius: 10px !important;
}

.button:hover {
	background: #BE8F03;
	color: black;
}

/* Header */
.header {
	text-align: center;
}

.header img {
	height: 100px;
}

/* Menu */
#overlay {
	z-index: 1;
	top: 0;
	position: absolute;
	background: rgba(0,0,0,0.0);
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
}
#overlay.show {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
}

#menu-container {
	z-index: 2;
	left: -13em;
	top: 0;
	position: absolute;
	display: inline-block;
	background: black;
	height: 100%;
	width: 13em;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
}

#menu-container.open {
	left: 0;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
}

#menu-open {
	position: absolute;
	right: -3.5em;
	top: 0.5em;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
	width: 45px;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
}

#menu-open.open {
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
	transform: rotate(270deg);
}

#menu-list {
	list-style: none;
	margin-top: 2em;
}

#menu-list h5 {
	margin: 0;
}

#menu-list li {
	padding-bottom: 0.4em;
}

#menu-list a {
	border-bottom: 1px solid black;
}
#menu-list a:hover {
	border-bottom: 1px solid #f1bb1b;
	color: #f1bb1b;
	text-decoration: none;
}

#menu-list a:hover {
	color: none;
	text-decoration: none;
}

#login-buttons a {
	text-decoration: none;
}

#login-buttons .login-close-text {
	border-bottom: none;
	color: #f1bb1b;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
}

#login-buttons .login-close-text:hover {
	border-bottom: none;
	text-decoration: underline;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;

}

#login-buttons .login-button {
	background: black;
	border-color: #f1bb1b;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
}

#login-buttons .login-button:hover {
	background: #f1bb1b;
	border-color: black;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
}

#login-buttons .login-button span {
	color: white;
}

#login-dropdown-list {
	top: 30px;
}

.accounts-dialog {
	width: 197px;
	background: black;
	border-color: #f1bb1b;
}

/* Month-view */

#month-nav {
	text-align: center;
}
.month-nav-text {
	display: inline-block;
	padding-right: 3em;
	padding-left: 3em;
}

.month-nav-button {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-size: 30%;
	position: relative;
	background-position: center;
	margin-bottom: -12px;
	border-radius: 100%;
}

#prev-month {
	background-image: url("/previous.png");
	background-position-x: 12px;
}

#next-month {
	background-image: url("/next.png");
	background-position-x: 14px;
}

.month-nav-button:hover {
	background-color: #f1bb1b;
}

#month-container table {
	width: 42em;
	margin-left: auto;
	margin-right: auto;
	border: none;
	box-shadow: 0px 0px 40px 0px rgb(226, 226, 226);
}

#month-container tbody tr {
	height: 6em;
}

#month-container thead {
	background-color: transparent;
}

#month-container tr:nth-of-type(even) {
	background-color: transparent;
}

#month-container thead td {
	font-weight: bold;
}

#month-container tr td {
	text-align: center;
	color: #f1bb1b;
}

#month-container tbody tr td {
	font-size: 2rem;
}

#month-container tbody tr td:hover {
	background-color: whitesmoke;
}

#month-container tbody tr td.event-date {
	background-color: #f1bb1b;
	color: white;
}

#month-container tbody tr td.event-date:hover {
	background-color: #BE8F03;
}

/* Positioning */
.tooltip.content {
	position: absolute;
	bottom: 2em;
	opacity: .8;
	backface-visibility: hidden;

	left: -9999px;
	transition: 0s left 0.2s;
	
}

.tooltip.content.is-active {
		left: 50%;
		transition: 0s left 0s;
	}

.tooltip__content {
	position: absolute;
	bottom: 2em;
	opacity: .8;
	backface-visibility: hidden;
	left: -9999px;
	transition: 0s left 0.2s;
}
.is-active .tooltip__content {
	left: 50%;
	transition: 0s left 0s;
}
.tooltip__content-inner {
	position: relative;
	margin-left: -100%;
	display: block;
	padding: 0.75em;
	color: rgba(0, 0, 0, 0.5);
	font-size: .75em;
	border-radius: 6px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
	background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.9) 85%, #ffffff 100%);
	opacity: 0;
	-webkit-filter: blur(40px);
	transform: translateY(-80%) perspective(500px) rotateX(-45deg) scale(1.8);
	transition: all 0.2s cubic-bezier(0.49, 0.2, 0.69, 1.61);
  /**
   * Tooltip triangle
   */
}
.is-active .tooltip__content-inner {
	color: rgba(0, 0, 0, 0.5);
	opacity: .95;
	-webkit-filter: blur(0);
	transform: translateY(0) scale(1);
}
.tooltip__content-inner:before, .tooltip__content-inner:after {
	position: absolute;
	left: 50%;
	margin-left: -6px;
	bottom: -6px;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.3);
}
.tooltip__content-inner:after {
	bottom: -5px;
	border-top-color: white;
}


















.list {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
}

.list ul {
	list-style: none;
	margin: 0;
}

/* Event */

/* List events */
.list .event-list {
}

.list .event-list li {
	box-shadow: 0px 1px 24px -7px;
	display: flex;
	margin-bottom: 1.5em;
}

.list .event-list li div {

}

.list .event-list li div#event-date-container {
	padding-right: 0.5em;
	padding-left: 0.5em;
	background-color: #f1bb1b;
	height: inherit;
	display: flex;
	flex-direction: column;
	width: 220px;
}

.list .event-list li div#event-date-container span {

	text-align: center;
} 
.list .event-list li div#event-date-container span.month-container {
	letter-spacing: 4px;
	padding-top: 2px;
}

.list .event-list li div#event-date-container span.month-container,
.list .event-list li div#event-date-container span.time-container {
	font-size: 1.3rem;
}

.list .event-list li div#event-date-container span.time-container {
	letter-spacing: 0.4px;
}

.list .event-list li div#event-date-container span.date-container {
	font-size: 3.1rem;
	line-height: 34px;
	font-weight: 300;
	font-style: normal;
}

.list .event-list li div#event-date-container {
	width: 100px
}

.list .event-list li img {
	width: 105px;
	height: 105px;
}

.list .event-list li div#event-info-container {
	display: flex;
	flex-direction: column;
	padding-left: 0.7em;
	width: 400px;
	padding-right: 0.7em;
}

.list .event-list li div#event-info-container h6.big {
	margin-top: 0.4em;
	margin-bottom: 0.3em;
}

.list .event-list li div#event-info-container h6.thin {
	margin-top: -3px;
	font-size: 0.9rem;
	margin-bottom: 0;
}

.list .event-list li div#event-info-container p {
	font-size: 0.8rem;
	margin-bottom: 0;
}

.list .event-list li div#event-links-container {
	width: 46px;
	display: flex;
	flex-direction: column;
}

.list .event-list li div#event-links-container a {
	background-repeat: no-repeat;
	height: 35px;
}

.list .event-list li div#event-links-container .event-fb-link {
	background-image: url('/fb_y.png');
	background-position-x: 8px;
	background-position-y: 2px;
}

.list .event-list li div#event-links-container .event-meetup-link {
	background-image: url('meetup_y.png');
	background-size: 95%;
	background-position-x: 1px;
	background-position-y: 4px;
}

.list .event-list li div#event-links-container .event-org-mail-link {
	background-image: url('email_y.png');
	background-position-x: 7px;
	background-position-y: 2px;
}

/* Create Event */

.create-form-container {
	width: 40%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.dateAndTimeContainer label {
	width: 49.5%;
	display: inline-block;
}

.dateAndTimeContainer label:first-child {
	padding-right: 0.5em;
}

.dateAndTimeContainer label:last-child {
	padding-left: 0.5em;
}

.datepicker {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	display: block;
}

.eventDesc {
	margin-bottom: 0
}

.orgLabel {
	margin-top: 1rem;
}

/* Admin Panel */
#manage-members {
	display: none;
}

.delete,
.confirm {
	background-color: red;
}